<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />>
    </head>
    <body>
<% if (client){%>>
<form class="w3-container light-border" method="post">
    <div style="width:260px">
        <p>First Name: <input style="float:right" type="text" name="FirstName" value="<%= client.FirstName%>"></p>
        <p>Last Name: <input style="float:right" type="text" name="LastName" value="<%= client.LastName%>"></p>
        <p>Email: <input style="float:right" type="text" name="Email" value="<%= client.Email%>"></p>
        <p>Phone: <input style="float:right" type="tel" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%= client.Phone%>"></p>
    </div>
    <p id="bill">Billing method: <br>
        <input type="radio" name="BillingMethod" value="Debit" > Debit
        <input type="radio" name="BillingMethod" value="Cash"> Cash
        <input type="radio" name="BillingMethod" value="Credit"> Credit
    </p>
    <script>
        let select_value = client.BillingMethod;
        let select_button =document.querySelector('p.#bill input[value='+ select_value +']');
        select_button.checked = true;
    </script>
    <div class="w3-container" style="width:470px">
        <input type="button" value="Cancel">
        <input style="float:right" type="submit" value="Edit Player">
    </div>
</form>
<% } else { %>
    <p class="text-center">Client Not Found. Go <a href="/create_client">here</a> to add clients.</p>
<% } %>
<%- include _tail.ejs%>