<%- include('_head.ejs', {title: 'Table'}) %>
<table style="width:100%">
    <tr>
        <% columns.forEach((c)=>{ %>
            <th><%= c %></th>
        <% }) %>
        <th>Modify</th>
    </tr>

    <% clients.forEach((client)=>{ %>
        <tr>
            <% columns.forEach((c)=>{ %>
                <td><%= client[c] %></td>
            <% }) %>
                <td>
                    <a href="/client/edit/<%= client.ID %>" target="_blank" rel="noopener">Edit</a>
                    <a href="/client/delete/<%= client.ID %>">Delete</a>
                </td>
        </tr>
    <% }) %>
</table>
<%- include _tail.ejs %>